@model Product

<h2>Product Details</h2>

<p><strong>Name:</strong>@Model.Name</p>
<p><strong>Description:</strong>@Model.Description</p>
<p><strong>Quantity:</strong>@Model.Quantity</p>
<p><strong>Price:</strong>@Model.Price</p>