@model List<Product>



<h1>Products page</h1>

<a asp-controller="Product" asp-action="Create" class="btn btn-primary">Create New</a>


<div class="container">
    <div class="row">
        @foreach (Product product in Model)
        {
            <div class="col-md-3 col-sm-6">
                <partial name="Product/_Product" model=@product/>
            </div>
        }
    </div>
</div>


